// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.help-wanted {
	padding-left: 24px;
}

.new-post {
	margin: 50px;
}

.links {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}